
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 8px;
}
th,td {
    background-color: white;
    padding: 30px;
    margin : 50px ; 
}
  
th{ 
    font-size:larger;
    border-bottom: 1px solid black;
}
  
.tasks {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding: 2% 3%;
    border: 1px solid black;
}


.actions-container {
    position: relative;
  }
  
  .actions-container .material-symbols-outlined {
    position: absolute;
    top: 0;
    margin-left: 10px;
  }



/* Status */

.status-name{
display:inline-block;
margin : 5%;
width: 100px;
border-radius: 6px;
}

#todo{
    background-color: #5dd1f8;
    margin: 2%;
}

#in-progress{
    background-color: #e0ba45;
}

#done{
    background-color: #23df71;
}

#late{
    background-color: #e52f2f;
}


/* Name */

.task-name{
    font-weight: 700;
}